/* src/style.css */

body,
html {
  height: 100%;
}
body {
  margin: 0;
  color: #252f43;
  font-family: Quicksand, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.3714285714285714rem;
  line-height: 1.5;
  background-color: #fff;
}

body.page {
  overflow: hidden;
}
.header {
  color: #fff;
  padding: 0px 45px;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0066a4 !important;
  background: -moz-linear-gradient(
    top,
    #0066a4 0%,
    #0064a2 20%,
    #004f94 78%,
    #004c92 100%
  ) !important;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #0066a4),
    color-stop(20%, #0064a2),
    color-stop(78%, #004f94),
    color-stop(100%, #004c92)
  ) !important;
  background: -webkit-linear-gradient(
    top,
    #0066a4 0%,
    #0064a2 20%,
    #004f94 78%,
    #004c92 100%
  ) !important;
  background: -o-linear-gradient(
    top,
    #0066a4 0%,
    #0064a2 20%,
    #004f94 78%,
    #004c92 100%
  ) !important;
  background: -ms-linear-gradient(
    top,
    #0066a4 0%,
    #0064a2 20%,
    #004f94 78%,
    #004c92 100%
  ) !important;
  background: linear-gradient(
    to bottom,
    #0066a4 0%,
    #0064a2 20%,
    #004f94 78%,
    #004c92 100%
  ) !important;
}
.header .site-title {
  font-family: sans-serif;
  font-size: 48px;
  color: #ffffff;
  margin: 0;
  font-weight: 900;
  line-height: 30px;
}

.header .site-title-sub {
  font-size: 24px;
  color: #ffffff;
  margin: 0;
}
.content {
  background: #f2f2f2;
  border: 2px solid #d6d2d2;
  padding: 20px;
  margin: 15px;
}

.content .card .card-header {
  background: linear-gradient(0deg, #ebebeb 20%, #ffffff 94%, #f2f2f2);
}

.card-header h4 {
  font-size: 18px;
  font-weight: 500;
}
.form-label {
  display: inline-block;
  max-width: 100%;
  /* margin-bottom: 5px; */
  font-weight: 700;
  font-size: 15px;
  font-weight: normal;
}
.form-control {
  background-color: #f4f4f4;
  border: solid 2px #8d8d8d;
  font-size: 16px;
  line-height: 14px;
  width: 304px;
  height: 44px;
  border-radius: 0;
}

.form-btn {
  border-radius: 5px;
  background-color: #0066a4;
  color: #fff;
  font-weight: 600;
  padding: 7px 55px;
}

.forgot-password.form-label {
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: #7d7d7d;
}
.section-wrapper {
  position: relative;
  padding-right: 85px;
}
.section-wrapper .floating-element {
  position: absolute;
  top: 7px;
  right: 0pt;
  width: 0pt;
  border-right: 100px solid rgb(0, 102, 164);
  border-bottom: 100px solid transparent;
  border-top: 100px solid transparent;
}
.section-wrapper .section-content {
  position: relative;
  z-index: 1;
  line-height: 20px;
  margin-left: 8px;
}
.section-content h3 {
  font-size: 15px;
  line-height: 1.2em;
  margin-bottom: 0.285em;
  color: #212121;
}
.section-content ul {
  margin-left: 0;
}

.section-content ul li {
  line-height: 28px;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.8;
  color: #515151;
}

footer {
  font-size: 13px;
  position: absolute;
  bottom: 0;
  padding: 20px;
}

@media (min-width: 992px) {
  .content {
    margin: 15px 180px;
  }
  .header {
    padding: 0px 250px;
  }
  footer {
    padding: 20px 250px;
  }
}
