/* src/style.css */

body,
html {
  height: 100%;
}
body {
  margin: 0;
  color: #252f43;
  font-family: Quicksand, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.3714285714285714rem;
  line-height: 1.5;
  background-color: #fff;
}

body.page {
  overflow: hidden;
}
.top-bar {
  background-color: #001e62;
  color: #fff;
  padding: 12px 40px;
  color: #fff;
  z-index: 1100;
  transition: z-index 0.4s ease-in;
}
.top-bar .top-bar-link {
  font-family: cursive, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-right: 16px;
  opacity: 0.6;
  padding: 2px 8px;
  text-decoration: none;
  text-decoration: none;
}
.top-bar .top-bar-link.active,
.top-bar .top-bar-link:hover {
  background-color: #4d6291;
  border-radius: 7px;
  color: #fff;
  opacity: 1;
}

.top-bar .top-bar-link:active,
.top-bar .top-bar-link:visited {
  background-color: #4d6291;
  border-radius: 7px;
  color: #fff;
  opacity: 1;
  outline: 2px solid #80d3da;
  outline-offset: 2px;
}

.top-bar .top-bar-dropdown {
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 30, 98, 0.1);
  margin-top: -52px;
  color: #252f43;
}
.top-bar-dropdown .top-bar-dropdown-item {
  border-radius: 0;
  background-color: #fff;
  border-bottom: 1px solid #f2f3f7;
  color: #6a7790;
  font-weight: 600;
  opacity: 1 !important;
  line-height: 43px;
  padding: 0 16px;
  display: block;
  font-size: 14px;
}
.top-bar-dropdown .dropdown-item:hover,
.top-bar-dropdown .dropdown-item.active {
  background-color: #f2f3f7;
}
.header {
  border-bottom: 1px solid #e6e7eb;
  background-color: #fff;
  color: #252f43;
  padding: 0px 45px;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerd {
  border-bottom: 1px solid #e6e7eb;
  background-color: #fff;
  color: #252f43;
  padding: 0px 45px;
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
@media (max-width: 991px) {
  .navbar-expand-lg .navbar-collapse {
    display: none;
    flex-basis: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vh;
  }
}
.navbar-collapse.show {
  width: 100%;
}
.header .navbar {
  padding: 0;
  width: 100%;
  background: #fff;
}
.navbar-collapse.show .nav-link {
  width: 100%;
  border-bottom: 1px solid #9da8c3;
}
.header .nav-link {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-color: #9da8c3;
  text-decoration-color: #9da8c3;
  text-underline-offset: 5px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  display: block;
  padding: 24px;
  position: relative;
  white-space: nowrap;
  color: #001e62;
  font-weight: 500;
  font-size: 18px;
}

.header .nav-link.active,
.header .nav-link:hover {
  background: #f2f3f7;
}

.header .nav-link.active:not(:hover, :focus):after {
  content: "";
  display: block;
  background: linear-gradient(270deg, #ff6d70, #001e62 75%, #001e62);
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header .nav-link:hover:after {
  content: "";
  display: block;
  background: #e3e0e0;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 28px;
    padding-left: 28px;
  }
}

.header .nav-link.dropdown-toggle::after {
  display: none;
}

.header .btn.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 36px;
  height: 36px;
  border-width: 1px;
  border-color: #074282;
  color: #eb676e;
  border-radius: 50%;
}
.navbar-toggler {
  padding: 15px;
  width: 36px;
  height: 36px;
  border-width: 1px;
  background-image: linear-gradient(
    135deg,
    #ff6d70 0%,
    #001e62 75%,
    #001e62 100%
  );
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}
.header .btn.btn-icon:hover {
  color: #074282;
  border-color: #eb676e;
  border-radius: 50%;
}

.header .btn.btn-link {
  background-image: linear-gradient(225deg, #ff7f82 0%, #ea4959 100%);
  color: #001754;
  height: 36px;
  padding: 10px 16px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  border-radius: 35px;
}
.mega-menu {
  padding: 20px;
  min-width: 600px; /* Width for the mega menu */
}

.dropdown-header {
  font-weight: bold;
}
.page .container {
  margin-top: 65px;
}
.form-section {
  padding: 56px 48px;
  border-radius: 20px;
  background-color: #f2f3f7;
}

.form-section h3 {
  padding-bottom: 24px;
  margin: 0;
  color: #001e62;
  font-weight: 500;
  line-height: 140%;
  font-family: Quicksand, Arial, sans-serif;
}

.form-section .form-control {
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  background-color: #fff;
  border-radius: 8px;
  height: 44px;
  padding: 0px 16px;
  height: 48px;
  border: #b6b6b6 1px solid;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: rgb(230, 85, 85);
  padding-right: calc(1.5em + 0.75rem);
  background-image: none;
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.invalid-feedback {
  font-size: 15px;
  color: rgb(230, 85, 85);
}
.form-section .form-label {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  text-align: left;
  white-space: wrap;
  font-family: Quicksand, Arial, sans-serif;
  color: #001e62;
}

.form-section .form-btn {
  background-image: linear-gradient(
    135deg,
    #00a7b5 0%,
    #001e62 75%,
    #001e62 100%
  );
  border-radius: 44px;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  transition: opacity 0.5s linear;
}

/* Container for the checkbox */
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Arial", sans-serif;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Custom checkbox appearance */
.checkbox-box {
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, border-color 0.3s;
  margin-right: 10px;
}

/* Checkmark styling */
.checkbox-box::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 2px;
  transform: scale(0);
  transition: transform 0.3s;
}

/* Checkbox checked state */
.custom-checkbox input[type="checkbox"]:checked + .checkbox-box {
  background-color: #252f43;
  border-color: #252f43;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-box::after {
  transform: scale(1);
  background-color: white;
}

/* Label text */
.custom-label {
  font-size: 15px;
  color: #656565;
  transition: color 0.3s;
  font-weight: 100;
  opacity: 0.7;
}

/* Hover effect */
.custom-checkbox:hover .checkbox-box {
  border-color: #252f43;
}

.custom-checkbox:hover .custom-label {
  color: #252f43;
}

.card.page-details {
  padding: 40px 32px;
  background: linear-gradient(225deg, #ff6d70, #001e62 75%, #001e62);
  color: #fff;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  height: 100%;
}
.icon-container .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #fff;
  color: #001e62;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.details-text {
  font-size: 20px;
  font-weight: 100;
}
.details-button {
  background-image: linear-gradient(135deg, #ff7f82 0%, #ea4959 100%);
  border-radius: 44px;
  padding: 10px 60px;
  font-weight: bold;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  color: #001e62;
}

img.detail-image {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    padding: 40px;
    min-width: 100vh;
    border: 0;
    left: -268px !important;
  }
}

.email-success {
  padding: 15px;
  border: 1px solid #1a2263;
  background: #ffffff00;
}
